p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.logo-udea{
    width: 80px;
    height: 90px;
}

.cabecera{
    background-color: black; 
    color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-around;
    align-self: center;
}

nav a{
    margin-right: 20px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: bold;
    transition: 0.3s;

}

nav a:hover{
color: beige;
font-size: 20px;
transition: 0.3s;
background-color: green;
box-shadow: 0px 0px 2px rgb(100, 99, 99);
}

.foto-container{
    display: flex;
  margin: auto
}

.enlace-1{
    text-decoration: none;color: green;
}


.foto-udea{
    width: 100%;
    height: auto;
    margin: auto;
    order: 1;
}

.parrafop{
    order: 2;
    text-align: justify;
    font-size: 20px;
}



@media screen and (min-width: 48em){


    .foto-udea{
        order: 2;
        text-align: justify;
        width: 80%;
    }
    
    .parrafop{
        order: 1;
        font-size: 25px;
    }


}

@media screen and (min-width: 62em){


    .foto-udea{
        order: 2;
        text-align: justify;
        width: 80%;
    }
    
    .parrafop{
        order: 1;
        font-size: 30px;
    }


}